@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/Poppins-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Poppins';
    src: url(../../fonts/Poppins-ExtraBold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
}

$main_font: 'Poppins';
$font_size: 14px;